/* Import the Outfit font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Reset CSS styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 360px;
}

.card {
  margin: 18px;
  padding: 18px;
  border-radius: 18px;
  background-color: hsl(0, 0%, 100%);
}

img {
  width: 100%;
  border-radius: 0.8em;
}

.text {
  padding: 22px 10px;
}

h2 {
  margin-bottom: 18px;
  color: hsl(218, 44%, 22%);
}

p {
  padding: 0 1em;
  color: hsl(220, 15%, 55%);
}

.attribution {
  color: hsl(228, 82%, 32%);
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#mylink {
  transition: all 0.5s ease;
}

#mylink:hover {
  color: orange;
  font-size: 10em;
}

@media only screen and (max-width: 600px) {
  #mylink:hover {
    color: orange;
    font-size: 1em;
  }
}
